[submodule "modules/underscore"]
	path = modules/underscore
	url = https://github.com/amdjs/underscore.git
[submodule "modules/requirejs"]
	path = modules/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "modules/ace"]
	path = modules/ace
	url = https://github.com/ajaxorg/ace.git
