[submodule "modules/acorn"]
	path = modules/acorn
	url = https://github.com/Spielmeister/acorn.git
[submodule "modules/tern"]
	path = modules/tern
	url = https://github.com/Spielmeister/tern.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/Spielmeister/node_modules.git
[submodule "modules/spellCli"]
	path = modules/spellCli
	url = https://github.com/Spielmeister/spellCli.git
