$theme-name: 'spelled';
$relative-image-path-for-uis: true;

//color for panel header
$color1: #646464;

//color for section headers/tabs
$color2: #363636;

//color used for panel background
$color3: #444444;

$include-missing-images: true;
$base-color: $color1;

//panel
$panel-header-color: #fff;

$panel-header-background-color: $color2;
$panel-body-background-color: $color3;

$panel-border-color: $color1;
$panel-header-inner-border: false;

$panel-header-inner-border-width: 0px 0 0;
$panel-border-width: 0px;
$panel-frame-padding: 0px;

//grid
$grid-header-color: #fff;
$grid-header-background-color: $color1;
$grid-header-over-background-color: $color2;
$grid-header-background-gradient: 'glossy';
$grid-header-over-background-gradient: 'glossy';


$grid-row-cell-background: $color3;
$grid-row-cell-color: #fff;

$grid-row-cell-over-background-color: $color3;

$grid-row-cell-alt-background: $color3;

$grid-row-cell-border-color: $color3;


$grid-row-cell-selected-background-color: #9a9a9a;


$grid-row-cell-over-background-gradient: 'flat';
$grid-row-cell-focus-background-gradient: 'flat';

//window
$window-background-color: $color3;

//buttons
$button-default-color: #fff;
$button-default-base-color: $color2;
$button-default-base-color-over: darken($color1,25);
$button-default-base-color-pressed: darken($color1, 15);



//white text for toolbar button
$button-toolbar-color: #fff;
$button-toolbar-color-over: #fff;
$button-toolbar-color-pressed: #fff;

$button-toolbar-base-color: $color2;
$button-toolbar-base-color-over: darken($color2,25);
$button-toolbar-base-color-pressed: darken($color2, 15);

$button-toolbar-background-gradient: 'glossy-button';
$button-toolbar-background-gradient-over: 'glossy';
$button-toolbar-background-gradient-pressed: 'glossy';

$button-toolbar-background-color-over: darken($color1, 5);


/*
$button-toolbar-border-color-pressed: darken($color1,25);
$button-toolbar-background-color-pressed: darken($color1,25);
$button-toolbar-border-color-over: darken($color1,25);


$button-toolbar-background-gradient-over: 'glossy';
$button-toolbar-background-gradient-focus: 'glossy';
$button-toolbar-background-gradient-pressed: 'glossy';
$button-toolbar-background-gradient-disabled: null;

*/

//toolbar
$toolbar-vertical-spacing: 1px;


//tabs
$tab-height: 25px;

$tab-base-color: $color1;
$tab-background-gradient: null;
$tab-base-color-over: darken($color1, 10);
$tab-base-color-active: $color2;
$tab-color-active: #fff;

$tabbar-strip-height: 0px;

$tab-inner-border: false;

$tab-closable-icon-top: 6px;
$tab-closable-icon-right: 3px;

$tabbar-top-body-padding: 0px 0 0px;
$tabbar-bottom-body-padding: 0px 0 0px;
$tabbar-top-body-border-width: 0px 0px 0;
$tabbar-top-strip-border-width: 0px 0px 0;




//progress bar
$progress-bar-background-color: darken($color1,25);

//fieldsets
$fieldset-border-color: $color2;

//datepicker
$datepicker-header-background-color: $color2;
$datepicker-header-background-gradient: 'glossy';
$datepicker-today-item-background-color: $color1;
$datepicker-today-item-border-color: $color2;

$datepicker-th-background-color: $color1;
$datepicker-th-color: $color2;
$datepicker-th-border-bottom-color: $color2;
$datepicker-item-color: #000;
$datepicker-item-hover-background-color: lighten($color1, 15);
$datepicker-selected-item-border-color: $color2;
$datepicker-selected-item-background-color: $color1;
$datepicker-monthpicker-item-color: #fff;

//layout
$accordion-header-color: $color2;
$accordion-header-background-color: $color1;

//qtip
$tip-base-color: $color1;
$tip-body-color: #fff;
$tip-header-color: #fff;

$tip-background-color: $color1 !important;
$window-body-background-color: adjust-color($color1, $hue: 3.188deg, $saturation: 0.542%, $lightness: 7.843%) !important;


@import 'compass';
@import 'ext4/default/all';