$theme-name: 'spelled';
$relative-image-path-for-uis: true;

//color for panel header
$color1: #646464;

//color for section headers/tabs
$color2: #363636;

//color used for panel background
$color3: #444444;

$include-missing-images: true;
$base-color: $color1;

//panel
$panel-header-color: #fff;
$panel-header-background-color: $color2;

$panel-body-color: #fff;
$panel-body-background-color: $color3;

$panel-border-color: $color1;
$panel-header-inner-border: false;

$panel-header-inner-border-width: 0px 0 0;
$panel-border-width: 0px;
$panel-frame-padding: 0px;

//grid
$grid-header-color: #fff;
$grid-header-background-color: $color1;
$grid-header-over-background-color: $color2;
$grid-header-background-gradient: 'glossy';
$grid-header-over-background-gradient: 'glossy';


$grid-row-cell-background: $color3;
$grid-row-cell-color: #fff;

$grid-row-cell-over-background-color: $color3;

$grid-row-cell-alt-background: $color3;

$grid-row-cell-border-color: $color3;


$grid-row-cell-selected-background-color: #9a9a9a;


$grid-row-cell-over-background-gradient: 'flat';
$grid-row-cell-focus-background-gradient: 'flat';

//buttons
$button-default-base-color: $color2;
$button-default-base-color-over: darken($color2,5);
$button-default-base-color-focus: $button-default-base-color-over;
$button-default-base-color-pressed: $button-default-base-color-over;
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7

$button-default-border-color: $color1;
$button-default-border-color-over: darken($color1,5);
$button-default-border-color-focus: $button-default-border-color-over;
$button-default-border-color-pressed: $button-default-border-color-over;
$button-default-border-color-disabled: adjust-color($button-default-base-color-disabled, $hue: 0deg, $saturation: 0%, $lightness: -8.627%) !default;

$button-default-color: #fff;
$button-toolbar-color: #fff;
$button-toolbar-color-over: #fff;
$button-toolbar-color-pressed: #fff;

$button-default-background-gradient: 'matte';
$button-default-background-gradient-over: 'matte';
$button-default-background-gradient-focus: 'matte';
$button-default-background-gradient-pressed: 'matte-reverse';
$button-default-background-gradient-disabled: 'matte';

$button-default-background-gradient-color-stops: null;
$button-default-background-gradient-color-stops-over: null;
$button-default-background-gradient-color-stops-focus: null;
$button-default-background-gradient-color-stops-pressed: null;
$button-default-background-gradient-color-stops-disabled: null;

$button-toolbar-base-color: $button-default-base-color;

$button-toolbar-border-color: transparent !default;
$button-toolbar-border-color-over: $button-default-border-color-over;
$button-toolbar-border-color-focus: $button-default-border-color-focus;
$button-toolbar-border-color-pressed: $button-default-border-color-pressed;
$button-toolbar-border-color-disabled: $button-default-border-color-disabled;

$button-toolbar-background-color: transparent !default;
$button-toolbar-background-color-over: $button-default-base-color-over;
$button-toolbar-background-color-focus: $button-default-base-color-focus;
$button-toolbar-background-color-pressed: $button-default-base-color-pressed;
$button-toolbar-background-color-disabled: transparent;

$button-toolbar-background-gradient: null;
$button-toolbar-background-gradient-over: 'matte';
$button-toolbar-background-gradient-focus: 'matte';
$button-toolbar-background-gradient-pressed: 'matte-reverse';
$button-toolbar-background-gradient-disabled: null;

$button-toolbar-background-gradient-color-stops: null;
$button-toolbar-background-gradient-color-stops-over: null;
$button-toolbar-background-gradient-color-stops-focus: null;
$button-toolbar-background-gradient-color-stops-pressed: null;
$button-toolbar-background-gradient-color-stops-disabled: null;


//toolbar
$toolbar-vertical-spacing: 1px;


//tabs
$tab-height: 25px;

$tab-base-color: $color1;
$tab-color: #fff;
$tab-base-color-over: darken($color1, 10);
$tab-base-color-active: $color2;
$tab-color-active: #fff;

$tabbar-strip-height: 0px;

$tab-inner-border: false;

$tab-closable-icon-top: 6px;
$tab-closable-icon-right: 3px;

//tabbar
$tabbar-top-body-padding: 0px 0 0px;
$tabbar-bottom-body-padding: 0px 0 0px;
$tabbar-top-body-border-width: 0px 0px 0;
$tabbar-top-strip-border-width: 0px 0px 0;

//progress bar
$progress-bar-background-color: darken($color1,25);

//fieldsets
$fieldset-border-color: $color2;

//datepicker
$datepicker-header-background-color: $color2;
$datepicker-header-background-gradient: 'glossy';
$datepicker-today-item-background-color: $color1;
$datepicker-today-item-border-color: $color2;

$datepicker-th-background-color: $color1;
$datepicker-th-color: $color2;
$datepicker-th-border-bottom-color: $color2;
$datepicker-item-color: #000;
$datepicker-item-hover-background-color: lighten($color1, 15);
$datepicker-selected-item-border-color: $color2;
$datepicker-selected-item-background-color: $color1;
$datepicker-monthpicker-item-color: #fff;

//layout
$accordion-header-color: $color2;
$accordion-header-background-color: $color1;

//qtip
$tip-base-color: $color1;
$tip-body-color: #fff;
$tip-header-color: #fff;

$tip-background-color: $color1 !important;

//window
$window-border-color: $color2;
$window-inner-border-color: $color3;

$window-header-color: #fff;

$window-background-color: $color2;

$window-body-color: #fff;
$window-body-background-color: $color3;

.x-window-item {
  color: #fff !important;
  background-color: $color3;
}


//form
$form-field-color: #fff;

@import 'compass';
@import 'ext4/default/all';


