#loading-mask {
    position: absolute;
    left:     0;
    top:      0;
    width:    100%;
    height:   100%;
    z-index:  20000;
    background-color: #444444;
}

#loading {
    position: absolute;
    left:     50%;
    top:      50%;
    padding:  2px;
    z-index:  20001;
    height:   auto;
    margin:   -35px 0 0 -30px;
}

#loading .loading-indicator {
    background: url( '../images/loading.gif') no-repeat;
    color:      #fff;
    font:       bold 13px tahoma,arial,helvetica;
    padding:    0px 30px;
    margin:     0;
    text-align: center;
    height:     auto;
}

.add-component-border {
    border:2px dashed #c9c9c9;
    text-align: center;
}

.entity-based-on-template {
    text-align: center;
    margin-bottom: 5px;
}

.tree-scene-icon {
    background-image: url( '../images/icons/scene.png' ) !important;
}

.tree-default-scene-icon {
    background-image: url( '../images/icons/scene-key.png' ) !important;
}

.tree-entities-folder-icon {
    background-image: url( '../images/icons/entity-box.png' ) !important;
}

.tree-scene-entity-icon {
    background-image: url( '../images/icons/entity.png' ) !important;
}

.tree-scene-entity-readonly-icon {
    background-image: url( '../images/icons/entity-link.png' ) !important;
}

.tree-scene-system-icon {
    background-image: url( '../images/icons/system-box.png' ) !important;
}

.tree-scene-script-icon {
    background-image: url( '../images/icons/script.png' ) !important;
}

.tree-component-icon {
    background-image: url( '../images/icons/component.png' ) !important;
}

.tree-component-attribute-icon {
    background-image: url( '../images/icons/bullet-orange.png' ) !important;
}

.tree-asset-spritesheet-icon {
    background-image: url( '../images/icons/asset-spritesheet.png' ) !important;
}

.tree-asset-2danimation-icon {
    background-image: url( '../images/icons/asset-2danimation.png' ) !important;
}

.tree-asset-2dstaticappearance-icon {
    background-image: url( '../images/icons/asset-2dstatic.png' ) !important;
}

.tree-asset-2dtextappearance-icon {
    background-image: url( '../images/icons/asset-font.gif' ) !important;
}

.component-icon {
    display: inline-block;
    padding-left:      18px;
    background:  url( '../images/icons/component.png' ) no-repeat;
}

.linked-component-icon {
    display: inline-block;
    padding-left:      18px;
    background:  url( '../images/icons/component-link.png' ) no-repeat;
}

.reload-icon {
    background-image:  url( '../images/icons/table_refresh.png' ) !important;
}

.grid-icon {
     background-image:  url( '../images/icons/coordinateGrid.png' ) !important;
}

.fullscreen-icon {
    background-image:  url( '../images/icons/monitor.png' ) !important;
}

.documentation-icon {
    background-image:  url( '../images/icons/information.png' ) !important;
}

.tree-system-icon {
    background-image:  url( '../images/icons/system.png' ) !important;
}

.tree-system-folder-icon {
    background-image:  url( '../images/icons/system-box.png' ) !important;
}

.doc-tool {
    width: 100%;
    text-align: right;
}

#ScriptsTree .x-tree-icon-leaf {
    background-image: url( '../images/icons/script.png' ) !important;
}

.no-animation-text {
    padding: 15px;
    font-size: 15pt;
    color: #ffffff;
}

#SpelledConsole {
    font-family: monospace;
}

.console-message-error {
    color: red;
}