$grid-header-over-background-color: #f0f0f0 !default;
$grid-header-over-background-gradient: color-stops(#ffffff, #f0f0f0) !default;
$grid-column-header-color: #fff !default;

$grid-column-header-border-width: 1px !default;
$grid-header-border-color: $color2;
