$theme-name: 'spelled-theme';

//color for panel header
$color1: #646464;

//color for section headers/tabs
$color2: #363636;

//color used for panel background
$color3: #444444;

//color used to to highlight selected content
$color_selected: #9a9a9a;