#loading-mask {
    position: absolute;
    left:     0;
    top:      0;
    width:    100%;
    height:   100%;
    z-index:  20000;
    background-color: #444444;
}

#loading {
    position: absolute;
    left:     50%;
    top:      50%;
    padding:  2px;
    z-index:  20001;
    height:   auto;
    margin:   -35px 0 0 -30px;
}

#loading .loading-indicator {
    background: url( '../images/loading.gif') no-repeat;
    color:      #fff;
    font:       bold 13px tahoma,arial,helvetica;
    padding:    0px 30px;
    margin:     0;
    text-align: center;
    height:     auto;
}

.add-component-border {
    border:2px dashed #c9c9c9;
    text-align: center;
}

.entity-based-on-template {
    text-align: center;
    margin-bottom: 5px;
}

.tree-scene-icon {
    background-image: url( '../images/icons/scene.png' ) !important;
}

.tree-default-scene-icon {
    background-image: url( '../images/icons/scene-key.png' ) !important;
}

.tree-entities-folder-icon {
    background-image: url( '../images/icons/entity-box.png' ) !important;
}

.tree-scene-entity-icon {
    background-image: url( '../images/icons/entity.png' ) !important;
}

.tree-scene-entity-linked-icon {
    background-image: url( '../images/icons/entity-link.png' ) !important;
}

.tree-scene-entity-readonly-icon {
    background-image: url( '../images/icons/entity-sublink.png' ) !important;
}

.tree-scene-system-icon {
    background-image: url( '../images/icons/system-box.png' ) !important;
}

.tree-scene-script-icon {
    background-image: url( '../images/icons/script.png' ) !important;
}

.tree-component-icon {
    background-image: url( '../images/icons/component.png' ) !important;
}

.tree-component-attribute-icon {
    background-image: url( '../images/icons/bullet-orange.png' ) !important;
}

.tree-component-attribute-engine-internal-icon {
    background-image: url( '../images/icons/bullet-orange.png' ) !important;
}

.tree-asset-spritesheet-icon {
    background-image: url( '../images/icons/asset-spritesheet.png' ) !important;
}

.tree-asset-2danimation-icon {
    background-image: url( '../images/icons/asset-2danimation.png' ) !important;
}

.tree-asset-2dstaticappearance-icon {
    background-image: url( '../images/icons/asset-2dstatic.png' ) !important;
}

.tree-asset-2dtextappearance-icon {
    background-image: url( '../images/icons/asset-font.gif' ) !important;
}

.tree-asset-keyframeanimation-icon {
    background-image: url( '../images/icons/asset-keyframeanimation.png' ) !important;
}

.tree-asset-sound-icon {
    background-image: url( '../images/icons/asset-sound.png' ) !important;
}

.component-icon {
    display: inline-block;
    padding-left:      18px;
    background:  url( '../images/icons/component.png' ) no-repeat;
}

.linked-component-icon {
    display: inline-block;
    padding-left:      18px;
    background:  url( '../images/icons/component-link.png' ) no-repeat;
}

.reload-icon {
    background-image:  url( '../images/icons/arrow_refresh.png' ) !important;
}

.grid-icon {
     background-image:  url( '../images/icons/coordinateGrid.png' ) !important;
}

.camera-marker-icon {
    background-image:  url( '../images/icons/eye.png' ) !important;
}

.fullscreen-icon {
    background-image:  url( '../images/icons/arrow_out.png' ) !important;
}

.debug-icon {
    background-image:  url( '../images/icons/bug.png' ) !important;
}

.pause-icon {
    background-image:  url( '../images/icons/pause.png' ) !important;
}

.documentation-icon {
    background-image:  url( '../images/icons/information.png' ) !important;
}

.tree-system-icon {
    background-image:  url( '../images/icons/system.png' ) !important;
}

.tree-system-folder-icon {
    background-image:  url( '../images/icons/system-box.png' ) !important;
}

.tree-asset-inputmap-icon {
    background-image:  url( '../images/icons/keyboard.png' ) !important;
}

.edit-icon {
    background-image:  url( '../images/icons/edit-mode.png' ) !important;
}

.doc-tool {
    width: 100%;
    text-align: right;
}

.tree-script-icon {
    background-image: url( '../images/icons/script.png' ) !important;
}

.no-animation-text {
    padding: 15px;
    font-size: 15pt;
    color: #ffffff;
}

.linkedProperty {
    height: 12px;
    cursor: pointer;
}

#SpelledConsole {
    font-family: monospace;
}

.library-img-icon {
    background: no-repeat center;
}

.linked-icon {
    width: 16px;
    background:  url( '../images/icons/link.png' );
}

.locked-icon {
    width: 16px;
    position: relative;
    margin-right: -15px;
    left: -15px;
    background:  url( '../images/icons/lock.png' ) no-repeat;
}

.console-message-error {
    color: red;
}

.spelledToolbar {
    background: none !important;
    background-color: #646464 !important;
}

#Navigator-splitter-collapseEl, #RightPanel-splitter-collapseEl,#SpelledConsole-splitter-collapseEl {
    display: none !important;
}

.x-tab-bar-default {
    background-color: #646464 !important;
}

.ace_gutter-cell.ace_breakpoint{
    border-radius: 0px 20px 20px 0px;
    box-shadow: inset 0px 0px 2px 2px red;
}

/*
this is a bug in extjs 4.2 regarding the width of tooltip
They work in firefox 19 but not in chrome 26
the following three css lines fix the problem
*/

.x-tip {
    width: auto !important;
}
.x-tip-body {
    width: auto !important;
}
.x-tip-body span {
    width: auto !important;
}

.console-message-info {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

/* Super hack for Chrome 27 bug (prevent black boxes) */
[style*="visibility: hidden"] { z-index:-999999999999 !important; }

/*For tree nodes dragging in scenes-navigator*/
/*
.dragged-node-highlight .x-grid-cell,
  .dragged-node-highlight .x-grid-rowwrap-div {
      background-color: #9a9a9a;
  }
*/
/*text color in the file upload form tag should be white*/
/*
.x-form-file-wrap .x-form-text {
      color: #fff; }
      */
