$form-field-color: #fff;
$form-field-background-color: #797777;
$form-field-background-image: 'trans';
$form-field-border-color: $color_selected;
$form-field-focus-border-color: $color_selected;

$form-field-invalid-background-color: $form-field-background-color;
$form-field-invalid-background-image: 'trans';