//$button-small-font-size: ceil($font-size * .9) !default; //11px
//$button-medium-font-size: ceil($font-size * .9) !default; //11px
//$button-large-font-size: ceil($font-size * .9) !default; //11px
//
//$button-default-base-color: adjust-color($neutral-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7
//$button-default-base-color-over: adjust-color($base-color, $hue: -6.667deg, $saturation: 44.444%, $lightness: 10.588%) !default; //E4F3FF
//$button-default-base-color-pressed: adjust-color($base-color, $hue: -0.725deg, $saturation: -9.556%, $lightness: -3.725%) !default; //B6CBE4
//$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7
//
//$button-default-border-color: adjust-color($button-default-base-color, $hue: 0deg, $saturation: 0%, $lightness: -18.039%) !default;
//$button-default-border-color-over: adjust-color($button-default-base-color-over, $hue: 8.177deg, $saturation: -28.283%, $lightness: -12.745%) !default;
//$button-default-border-color-focus: $button-default-border-color-over !default;
//$button-default-border-color-pressed: adjust-color($button-default-base-color-pressed, $hue: 2.317deg, $saturation: 6.756%, $lightness: -5.294%) !default;
//$button-default-border-color-disabled: adjust-color($button-default-base-color-disabled, $hue: 0deg, $saturation: 0%, $lightness: -8.627%) !default;
//
//$button-default-color: #333 !default;
//$button-default-background-color-disabled: $button-default-base-color-disabled !default;
//
//$button-toolbar-border-color: transparent !default;
//$button-toolbar-border-color-over: adjust-color($base-color, $hue: 0.084deg, $saturation: -9.891%, $lightness: -18.039%) !default;
//$button-toolbar-border-color-focus: $button-toolbar-border-color-over !default;
//$button-toolbar-border-color-pressed: adjust-color($base-color, $hue: 0.721deg, $saturation: -17.014%, $lightness: -21.765%) !default;
//$button-toolbar-border-color-disabled: $button-default-border-color-disabled !default;
//
//$button-toolbar-background-color: transparent !default;
//$button-toolbar-background-color-over: adjust-color($base-color, $hue: -5deg, $saturation: 44.444%, $lightness: 8.824%) !default;
//$button-toolbar-background-color-focus: $button-toolbar-background-color-over !default;
//$button-toolbar-background-color-pressed: adjust-color($base-color, $hue: -1.138deg, $saturation: -11.47%, $lightness: -2.353%) !default;
//$button-toolbar-background-color-disabled: transparent !default;
//
//$button-toolbar-background-gradient: null !default;
//$button-toolbar-background-gradient-disabled: null !default;
//
//$button-toolbar-color: #333 !default;
//$button-toolbar-color-disabled: lighten($button-toolbar-color, 35) !default;
//
//$button-opacity-disabled: 1 !default;
//$button-inner-opacity-disabled: .5 !default;
//
//$button-include-split-over-arrows: true !default;
//$button-toolbar-include-split-noline-arrows: true !default;

$button-default-base-color: $color2;
$button-default-base-color-over: darken($color2,5);
$button-default-base-color-focus: $button-default-base-color-over;
$button-default-base-color-pressed: $button-default-base-color-over;
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7

$button-default-border-color: $color1;
$button-default-border-color-over: darken($color1,5);
$button-default-border-color-focus: $button-default-border-color-over;
$button-default-border-color-pressed: $button-default-border-color-over;
$button-default-border-color-disabled: adjust-color($button-default-base-color-disabled, $hue: 0deg, $saturation: 0%, $lightness: -8.627%) !default;

$button-default-color: #fff;
$button-toolbar-color: #fff;
$button-toolbar-color-over: #fff;
$button-toolbar-color-pressed: #fff;

$button-default-background-gradient: 'matte';
$button-default-background-gradient-over: 'matte';
$button-default-background-gradient-focus: 'matte';
$button-default-background-gradient-pressed: 'matte-reverse';
$button-default-background-gradient-disabled: 'matte';

$button-default-background-gradient-color-stops: null;
$button-default-background-gradient-color-stops-over: null;
$button-default-background-gradient-color-stops-focus: null;
$button-default-background-gradient-color-stops-pressed: null;
$button-default-background-gradient-color-stops-disabled: null;

$button-toolbar-base-color: $button-default-base-color;

$button-toolbar-border-color: transparent !default;
$button-toolbar-border-color-over: $button-default-border-color-over;
$button-toolbar-border-color-focus: $button-default-border-color-focus;
$button-toolbar-border-color-pressed: $button-default-border-color-pressed;
$button-toolbar-border-color-disabled: $button-default-border-color-disabled;

$button-toolbar-background-color: transparent !default;
$button-toolbar-background-color-over: $button-default-base-color-over;
$button-toolbar-background-color-focus: $button-default-base-color-focus;
$button-toolbar-background-color-pressed: $button-default-base-color-pressed;
$button-toolbar-background-color-disabled: transparent;

$button-toolbar-background-gradient: null;
$button-toolbar-background-gradient-over: 'matte';
$button-toolbar-background-gradient-focus: 'matte';
$button-toolbar-background-gradient-pressed: 'matte-reverse';
$button-toolbar-background-gradient-disabled: null;

$button-toolbar-background-gradient-color-stops: null;
$button-toolbar-background-gradient-color-stops-over: null;
$button-toolbar-background-gradient-color-stops-focus: null;
$button-toolbar-background-gradient-color-stops-pressed: null;
$button-toolbar-background-gradient-color-stops-disabled: null;
