//
//$toolbar-separator-color: #aca899 !default;
//$toolbar-text-color: #000 !default;

$toolbar-vertical-spacing: 1px;
$toolbar-border-width: 0px !default;
$toolbar-background-gradient: 'glossy-button' !default;