//
//$toolbar-separator-color: #aca899 !default;
//$toolbar-text-color: #000 !default;

$toolbar-vertical-spacing: 1px;
$toolbar-background-color: $color1 !default;
$toolbar-background-gradient: 'matte' !default;
$toolbar-border-width: 0px !default;

