$grid-row-cell-background-color: $color3;
$grid-row-cell-color: #fff;

$grid-row-cell-over-background-color: $color3;

$grid-row-cell-alt-background-color: $color3;

$grid-row-cell-border-color: $color3;

$grid-row-cell-selected-background-color: $color_selected;
$grid-row-cell-focus-background-color: $color_selected;

$grid-row-cell-over-background-gradient: 'flat';
$grid-row-cell-focus-background-gradient: 'flat';

$grid-cell-border-width: 0;
$grid-row-cell-over-background-gradient: null !default;
