$grid-header-color: #fff;
$grid-header-background-color: $color1;
$grid-header-over-background-color: $color2;
$grid-header-background-gradient: 'glossy';
$grid-header-over-background-gradient: 'glossy';