//$tab-base-color: #eaeaea !default;
//$tab-base-color-disabled: #eeeeee !default;
//
//$tab-color-active: #333333 !default;
//$tab-color-disabled: #b7b7b7 !default;
//
//$tab-border-color-disabled: #dadada !default;
//
//$tab-background-gradient: color-stops(#dcdcdc, #eaeaea) !default;
//$tab-background-gradient-over: color-stops(#ffffff, #f0f0f0) !default;
//$tab-background-gradient-active: color-stops(#ffffff, #eaeaea) !default;
//$tab-background-gradient-disabled: color-stops(#eeeeee, #f4f4f4) !default;

$tab-height: 25px;

$tab-base-color: $color1;
$tab-color: #fff;
$tab-base-color-over: darken($color1, 10);
$tab-base-color-active: $color2;
$tab-color-active: #fff;

$tab-inner-border: false;

$tab-closable-icon-top: 6px;
$tab-closable-icon-right: 3px;

$tabbar-strip-height: 0px;
$tabbar-top-body-padding: 0px 0 0px;
$tabbar-bottom-body-padding: 0px 0 0px;
$tabbar-top-body-border-width: 0px 0px 0;
$tabbar-top-strip-border-width: 0px 0px 0;