//$tab-base-color: #eaeaea !default;
//$tab-base-color-disabled: #eeeeee !default;
//
//$tab-color-active: #333333 !default;
//$tab-color-disabled: #b7b7b7 !default;
//
//$tab-border-color-disabled: #dadada !default;
//


$tab-height: 27px !default;

$tab-base-color: $color1;
$tab-color: #fff;
$tab-border-color: $color2;
$tab-base-color-over: darken($color1, 5);
$tab-base-color-active: $color2;
$tab-color-active: #fff;


$tab-line-height: 15px !default;

//$tab-inner-border: false;

$tab-closable-icon-top: 5px;
$tab-closable-icon-right: 7px;

$tabbar-strip-height: 0px;

$tab-border-width: 1px 1px 0 1px !default;
//$tab-border-width: 1px 1px 0 1px !default;


$tabbar-background-gradient: null !default;
$tabbar-border-width: 0 !default;

//tabbar-strip
$tabbar-strip-height: 0px !default;
$tabbar-strip-border-width: 0px 0 0 !default;
$tabbar-strip-plain-border-width: 0px 0px 0 !default;
